<div *ngIf="this.yahtzeeInstance" class="contain">
        <div class="scoreSheet">
            <score-sheet [sheet]="yahtzeeInstance.scoreSheet" [players]="yahtzeeInstance.players"
                [current]="yahtzeeInstance.currentPlayer" (onSelectLine)="addScore($event)">

            </score-sheet>
        </div>
        <div class="gameBoard">
            <h1>Player {{yahtzeeInstance.currentPlayer.number}}</h1>
            <h2>Launch remaining : {{yahtzeeInstance.currentPlayer.currentRoll}}</h2>
            <bucket [params]="yahtzeeInstance.currentPlayer.gameObject"></bucket>

            <button (click)="launch()">Launch</button>
        </div>
</div>