<div *ngIf="yahtzeeInstance" class="contain">
        <div class="scoreSheet">
            <app-score-sheet [sheet]="yahtzeeInstance.scoreSheet" [players]="yahtzeeInstance.players"
                [current]="yahtzeeInstance.currentPlayer" (selectLine)="addScore($event)">
            </app-score-sheet>
        </div>
        <div *ngIf="yahtzeeInstance.currentPlayer as player" class="gameBoard">
            <h1>Player {{player.number}}</h1>
            <h2 *ngIf="player.currentRoll as roll">Throw{{roll > 1 ? 's' : ''}} remaining : {{roll}}</h2>
            <h2 *ngIf="!player.currentRoll">Choose a category to score</h2>
            <app-bucket [params]="player.gameObject"></app-bucket>

            <button *ngIf="player.currentRoll != 0" (click)="launch()">Launch</button>
        </div>
</div>
