@import "./src/assets/styles/main.scss";

.dice {
    display: inline-block;
    padding: 30px;
    margin: 30px;
    position: relative;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    & h1{
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
