@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

$general-font: 'Raleway', sans-serif;
$semi-bold: 600;

$extra-small : 10px;
$small : 12px;
$medium: 14px;
